.jobs {
  .title {
    width: 580px;
    margin-bottom: 20px;
  }
  
  label {
    min-width: 90px;
    float: left;
  }
}

.print {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  float: left;
  margin: 0 20px 0 0;
}