<% simple_menu.active = :technologies %>
<% breadcrumb.add "Tecnologias" %>

<h1>Tecnologias</h1>

<p>Eis algumas tecnologias/conceitos que tenho trabalhado ao longo dos anos:</p>

<div class="half_width">
  <div class="technologies">
    <% @technologies.each do |technology| %>
      <div class="item">
        <div class="title"><%= technology.name %></div>
        <div class="date"><%= time_ago_in_words(technology.started_at) %></div>
        <% if technology.website %>
          <div class="website"><label>Website: </label><%= link_to(technology.website, technology.website) %></div>
        <% end %>
        <div class="description"><%= simple_format(technology.description) %></div>
      </div>
    <% end %>
  </div>
</div>