@import "bourbon";

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #F2F0E9;
  color: #434343;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #03406A;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Ubuntu',sans-serif;
  color: #03406A;
}

label {
  font-weight: bold;
  min-width: 90px;
  float: left;
}

quotes, q {
  font-style: italic;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 36px;
  text-shadow: 0 0 2px #CCCCCC;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 23px;
  text-shadow: 0 0 2px #CCCCCC;
  margin-bottom: 20px;
}

header {
  .owner {
    color: white;
    font-family: Verdana;
    font-size: 20px;
    width: 800px;
    margin: 0 auto;
    margin-top: -40px;
    padding: 10px;
  }
  
  width: 100%;
  @include background-image(linear-gradient(#36739E 0%, #03406A 50%, transparent 50%));
  margin: 0 auto;
  float: left;
  height: 390px;
  margin-bottom: -150px;
}

 #view, #breadcrumb,#main_menu ul, header .testimonials {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  clear: both;
}

#main_menu ul {
  width: 400px;
  float: right;
}

footer {
  background: #222021;
  text-align: center;
  color: white;
  padding: 20px 0;
}

#view p {
  text-align: justify;
  margin-top: 20px;
}

#main_menu {
  width: 100%;
  background: black;
  height: 40px;
  
  ul {
    float: right;
  }
  
  li.active a {
    background: #434343;
    color: white;
    border-radius: 5px;
  }
  
  li a:hover {
    text-decoration: underline
  }
  
  li a {
    font-family: museo-sans-1,museo-sans-2,sans-serif;
    float: left;
    color: white;
    text-align: center;
    margin-left: 10px;
    padding: 0 10px;
    text-decoration: none;
  }
}

#breadcrumb {
  position: relative;
  background-color: #E6E2D5;  
  a {
    color: darkRed;
  }
}

.testimonials {
  color: white;
  text-align: right;
}

.more_about.item {
  clear: both;
  margin-left: 360px;
  overflow: hidden;
  position: relative;
  width: 400px;
}

.half_width {
  width: 50%;
}

.item {
  margin:20px auto 0 auto;
  width: 95%;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 20px;
  overflow: hidden;
}
.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-shadow: 0 0 2px #CCCCCC;
  width: 100%;
  color: #03406A;
}

.title {
  margin-bottom: 20px;
  height: 10px;
}

.date {
  width: 100px;
  text-align: right;
}

.description {
  text-align: justify;
}

#notes{
  font-size: 12px;
  abbr {
    color: #03406A;
  }
  p {
    margin: 10px;
  }
}

a.note {
  font-size: 10px;
  margin-top: -5px;
  line-height: 15px;
  text-decoration: none;
}